button:disabled[data-visited="true"] {
	background-color: red;
}

.map-cell {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: -24px;
	left: -24px;
	width: 48px;
	height: 48px;
}

.map-container {
	position: relative;
	width: fit-content;
}

canvas.map-background {
	z-index: -1;

	background-color: white;
	position: absolute;

	width: 100%;
	height: 100%;
}

.map-table {
	border-spacing: 0;
}

.map-table-cell {
	padding: 0;
	position: absolute;
}
