.map-cell {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: -16px;
	left: -16px;
	width: 32px;
	height: 32px;
	background: none;
	border-width: 0;
	cursor: pointer;

	border-radius: 50%;
}

.map-cell:disabled {
	opacity: 0.6;
	cursor: not-allowed;
}

.map-cell[data-visited="true"]:disabled {
	opacity: 1;
	cursor: not-allowed;
}

.map-cell:hover:not(:disabled) {
	transform: scale(1.08);
	background: none;
	border-width: 0;
}

.map-cell:hover {
	outline: none;
}

.map-container {
	position: relative;
	width: fit-content;
}

canvas.map-background {
	z-index: -1;

	background-color: white;
	position: absolute;

	width: 100%;
	height: 100%;
}

.map-table {
	border-spacing: 0;
}

.map-table-cell {
	padding: 0;
	position: absolute;
}
