.anim-container {
    position: absolute;
}

.float-in-left {
    position: absolute;
    animation: floatLeft 0.8s ease-out;
}

@keyframes floatLeft {
    0% {
        transform: translateX(-500px);
    }

    100% {
        transform: translateX(0px);
    }
}

.float-in-right {
    position: absolute;
    animation: floatRight 0.8s ease-out;
}

@keyframes floatRight {
    0% {
        transform: translateX(500px);
    }

    100% {
        transform: translateX(0px);
    }
}

.float-result {
    position: absolute;
    opacity: 0;
    animation: fadeInGrow 0.5s linear;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
}

@keyframes fadeInGrow {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }

    10% {
        opacity: 1;
        transform: scale(1.0);
    }

    80% {
        opacity: 1;
        transform: scale(1.33);
    }

    100% {
        opacity: 1;
        transform: scale(1.25);
    }
}

.blanket {
    position: absolute;
    background-color: #0008;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: blanketFadeIn 0.4s linear;
    z-index: var(--blanket-zIndex);
}

@keyframes blanketFadeIn {
    0% { opacity: 0; }
    100% { opacity: 100%; }
}

.anim-container {
    position: absolute;
    left: calc(var(--w) / 2);
}

.combiner-action {
    position: absolute;
    top: 100px;
}
