.cell {
    border: 1px solid black;
    width: 80px;
    height: 80px;
    display: inline-block;
}

.cell-chip {
    position: relative;
    line-height: 1em;
}

.board-list {
    list-style-type: none;
    padding: 0;
    gap: 4px;
    display: inline-grid;
    grid-template-columns: repeat(10, auto);
    flex-grow: 0;
}

.grid-item {
    line-height: 0;
}

.grid-item > .cell {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.grid-item[data-hovered=true] > .cell::after {
    content: '';
    border-radius: 8px;
    width: 56px;
    height: 56px;
    border: 2px dashed #ccc;
}

.number-overlay {
    position: absolute;
    top: 0;
    left: 0;
}

button:disabled {
    opacity: 45%;
}

#effect-modules {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.effect-module {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    border: 1px solid grey;
    border-radius: 4px;
}

.effect-module[data-isHighlighted=false] {
    opacity: 66%;
}

.effect-module[data-isHighlighted=true] {
    outline: 2px solid #3388ff;
    outline-offset: 2px;
}

.effect {
    position: relative;
}

.number-overlay {
    position: absolute;
}
