body {
  padding-inline: 16px;
}

.stack, .stack-center {
  display: flex;
  flex-direction: column;
}

.inline, .inline-center {
  display: flex;
  flex-direction: row;
}

.stack-center {
  align-items: center;
}

.inline-center {
  align-items: center;
}
