.cell-chip {
    display: inline-flex;
    position: relative;
}

.sprite {
    height: 80px;
    image-rendering: pixelated;
}

.sprite[data-size="16"] {
    height: 16px;
}

.sprite[data-size="32"] {
    height: 32px;
}

.sprite[data-size="48"] {
    height: 48px;
}
